  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <button class="navbar-brand me-5" (click)="closeAll()"
    style="background: none;border: none;cursor: pointer;outline: inherit;"
    >SPA Angular</button>
      <div class="navbar-nav">
      <button class="btn btn-outline-success me-3" type="button" (click)="exibirTabela()">Exibir Tabela</button>
      <button class="btn btn-sm btn-outline-secondary me-3" type="button" (click)="exibirApi()">Exibir Rick & Morty API</button>
      </div>
  </nav>

<div class="container mt-4">
  <div *ngIf="exibeTabela" class="text-center">
  <button class="btn btn-primary my-4" (click)="exibirForm()">
    Criar novo registro
  </button>
  </div>
  
  <div *ngIf="exibeTabela">
    <spa-alunos></spa-alunos>
  </div>
  
<div *ngIf="exibeApi">
  <spa-rickmorty></spa-rickmorty>
</div>

<div *ngIf="exibeForm">
  <spa-alunos-form></spa-alunos-form>
</div>