<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SPA com Angular</title>
</head>

<body class="bg-light" style="height: 100%">

  <nav class="navbar bg-dark">
    <form class="container-fluid justify-content-start p-3 justify-content-center">
      <button class="btn btn-outline-success me-2" type="button" (click)="exibirTabela()">Exibir Tabela</button>
      <button class="btn btn-sm btn-outline-secondary" type="button" (click)="mudarValor()">Adicionar +1</button>
      <button class="btn btn-sm btn-outline-secondary mx-2" type="button" (click)="reiniciarValor()">Reiniciar Valor</button>
    </form>
  </nav>
 
  <div>
    
    <spa-alunos [valorInicial]="valor"></spa-alunos>
    
  </div>
<div class="container mt-4">
  <table class="table table-striped" *ngIf="exibeTabela">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>E-mail</th>
      <th>Curso</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let aluno of listaAlunos">
      <td>{{aluno.nome}}</td>
      <td>{{aluno.idade}}</td>
      <td>{{aluno.email}}</td>
      <td>{{aluno.curso}}</td>
    </tr>
    </tbody>
  </table>

  <spa-rickmorty></spa-rickmorty>
</div>
</body>

</html>